
.add{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.add-heading{
    padding-left: 0.2rem;
}

.input-data{
    border: 1px #338fe0 solid;
    border-radius: 3px;
    height: 2rem;
    width: calc(100vw/2);
    outline: none;
    font-size: 1.3rem;
    font-family: Montserrat;
    padding-left: 0.2rem;
    
}

.comment{
    margin-left: 0.5%;
    margin-right: auto;
    color: #ff0000;
}